Source: metamorph
Priority: optional
Maintainer: Paul Sathre <sath6220@cs.vt.edu>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Vcs-Git: https://github.com/VTSynergy/MetaMorph.git
Vcs-Browser: https://github.com/VTSynergy/MetaMorph

Package: metamorph
Section: libs
Architecture: any
Multi-Arch: same
Depends: metamorph-openmp | metamorph-opencl | metamorph-cuda
#metamorphBROKEN (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: metamorph-openmp
Suggests: metamorph-cuda, metamorph-opencl, metamorph-mpi, metamorph-profiling
Description: MetaMorph Core Library
 The MetaMorph Core Library implements the core API and dynamically-loaded bridge across supported backends

Package: metamorph-openmp
Section: libs
Architecture: any
Multi-Arch: same
Depends: metamorph
#(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Enhances: metamorph
Description: MetaMorph OpenMP Backend
 The MetaMorph OpenMP Backend implements OpenMP versions of MetaMorph's top-level functions

Package: metamorph-cuda
Section: libs
Architecture: any
Multi-Arch: same
Build-Depends: nvidia-cuda-toolkit
Depends: metamorph, libcuda1
# (= ${binary:Version}), cuda, ${shlibs:Depends}, ${misc:Depends}
Enhances: metamorph
Description: MetaMorph CUDA Backend
 The MetaMorph OpenCL Backend implements the CUDA versions of MetaMorph's top-level functions.

Package: metamorph-opencl
Section: libs
Architecture: any
Multi-Arch: same
Build-Depends: ocl-icd-opencl-dev | nvidia-opencl-dev
Depends: metamorph, opencl-icd | amd-opencl-icd, libopencl-1.1-1 
# (= ${binary:Version}), OpenCL, ${shlibs:Depends}, ${misc:Depends}
Enhances: metamorph
Suggests: metacl
Description: MetaMorph OpenCL Backend
 The MetaMorph OpenCL Backend implements the OpenCL versions of MetaMorph's top-level
 functions.
 It also provides OpenCL-specific functionality to support general OpenCL applications,
 particularly those created with MetaCL.

Package: metamorph-mpi
Section: libs
Architecture: any
Multi-Arch: same
Depends: metamorph, mpi-default-bin
#(= ${binary:Version}), MPI, ${shlibs:Depends}, ${misc:Depends}
Enhances: metamorph
Description: MetaMorph MPI Interoperability Plugin
 Provides operations to send and receive MetaMorph device buffers across MPI

Package: metamorph-profiling
Section: libs
Architecture: any
Multi-Arch: same
Depends: metamorph
#(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Enhances: metamorph
Description: MetaMorph Profiling Plugin
 Provides transparent profiling of MetaMorph API calls via backend-native
 events.

Package: metamorph-dev
Section: libs
Architecture: all
Depends: metamorph
#(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
#Doesn't need to recommend any backend, a dev could write to the MM API and not care what backends exist
Description: MetaMorph Core Headers
 Header files to develop a new application based on only the core MetaMorph capabilities

Package: metamorph-openmp-dev
Section: libs
Architecture: all
Depends: metamorph-openmp, metamorph-dev
#(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: MetaMorph OpenMP Backend Headers
 Header files to develop a new application using features specific to the OpenMP backend

Package: metamorph-cuda-dev
Section: libs
Architecture: all
Depends: metamorph-cuda, metamorph-dev
#(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: MetaMorph CUDA Backend Headers
 Header files to develop a new application using features specific to the CUDA backend

Package: metamorph-opencl-dev
Section: libs
Architecture: all
Suggests: metacl
Depends: metamorph-opencl, metamorph-dev, opencl-c-headers
#(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: MetaMorph OpenCL Backend Headers
 Header files to develop a new application using features specific to the OpenCL backend

Package: metamorph-mpi-dev
Section: libs
Architecture: all
Depends: metamorph-mpi, metamorph-dev, mpi-default-dev
# (= ${binary:Version}), MPI, ${shlibs:Depends}, ${misc:Depends}
Enhances: metamorph
Description: MetaMorph MPI Interoperability Plugin
 Header files to develop a new application using functionality from the MPI plugin

Package: metamorph-profiling-dev
Section: libs
Architecture: all
Depends: metamorph-profiling, metamorph-dev
#(= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Enhances: metamorph
Description: MetaMorph Profiling Plugin
 Header files to directly utilize MetaMorph's backend-native timing infrastructure.
 Only necessary for developers adding timers to features that lie outside the core MetaMorph API.

Package: metacl
Section: devel
Architecture: any
Multi-Arch: same
Depends: libclang-common-6.0-dev
Build-Depends: libclang-6.0-dev, zlib1g-dev
Enhances: metamorph-opencl, metamorph-opencl-dev
#Depends: clang 6.0.1 (= ${binary:Version}), ${misc:Depends} libclang-6.0-dev, zlib1g-dev
#Need to suggest the metamorph-dev and metamorph-opencl-dev. (They are required to compile/run the resulting application, but not to just run metaCL)
Description: MetaCL OpenCL Host Autogenerator
 MetaCL is an autogenerator for OpenCL host code based on the Clang/LLVM compiler framework.
 Given a set of OpenCL kernel file(s), it generates the appropriate boilerplate to initialze
  the kernels and invoke them, wrapped inside a convenient and simplified API.
 Generated code is dependent on metamorph-opencl and metamorph to run, and corresponding
  dev packages to compile, but the MetaCL tool itself does not.
